body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.banner {
    width: 80%; /* Adjust width to cover more of the screen */
    margin: 0 auto; /* Center the banner horizontally */
    background-image: url('/images/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
    z-index: 1000;
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    font-family: 'Georgia', serif; /* Use a different, pre-installed font family */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #e8e8e8;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adds shadow to text */
    font-family: 'Georgia', serif; /* Ensure the font matches the banner */
}

button {
    font-size: 14px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: dodgerblue;
    color: #e8e8e8;
    border-radius: 4px;
    transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
}

button:active {
    transform: translate(0em, 0.2em);
}
.registration {
    align-items: center;
}