<div class="container">
  <div class="section">
    <h2>About the Conference</h2>
    <ul>
      <li>About Us</li>
      <li>Conference Overview</li>
      <li>Keynote Speakers</li>
      <li>Important Dates</li>
    </ul>
  </div>
  <div class="section">
    <h2>Registration</h2>
    <ul>
      <li>Register Now</li>
      <li>Registration Fees</li>
      <li>Accommodation</li>
      <li>Travel Information</li>
    </ul>
  </div>
  <div class="section">
    <h2>Quick Links</h2>
    <ul>
      <li>Home</li>
      <li>Contact Us</li>
      <li>FAQ</li>
      <li>Sponsors</li>
    </ul>
    <div class="social-icons">
      <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
  <div class="section">
    <h2>Find Us</h2>
    <div class="map-container">
      <!-- Google Map Embed Code -->
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.611795792651!2d83.38924057474572!3d18.137540485836757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3bef902595ad49%3A0xc8014da742471a0e!2sSatya%20Institute%20of%20Technology%20and%20Management!5e0!3m2!1sen!2sin!4v1692973715814!5m2!1sen!2sin" 
        width="400" 
        height="250" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
  
    </div>
    <div class="address">
      <h3>Address:</h3>
      <p>Satya Institute Of Technology And Management</p>
      <p>At :Gajulrega, Vizianagaram - 535002.</p>
    </div>
  </div>
</div>

<footer class="footer">
  <p> & copy; Satya Institute Of Technology And Management , Gajulrega, Vizianagaram, Andhra Pradesh, India. All rights reserved.</p>
</footer>
