body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: black;
}

p {
    font-size: 20px;
    margin: 0;
    color: #333;
}

.about, .registration {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 1000px;
}

.about h2, .registration h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #007bff;
}

button {
    font-size: 14px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: dodgerblue;
    color: white;
    border-radius: 4px;
    transition: background 0.3s ease, transform 0.2s ease;
  }
   
  button:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
  }
   
  button:active {
    transform: translate(0em, 0.2em);
  }

