/* Header styling */
.header {
  position: relative;
  z-index: 1000;
  width: 100%;
  background-color: white; /* Header background color */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Logo styling */
.logo {
  width: 150px;
  height: 150px; /* Adjust height as needed */
  border-radius: 50%;
  border: 3px solid yellow; /* Outline around the logo */
  transition: transform 0.3s ease;
}

.logo-link {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

/* Title styling */
.title {
  color: #333; /* Dark color for better contrast on white background */
  font-family: 'Arial', sans-serif;
  font-size: 36px;
  margin: 0;
  text-align: center;
}

/* Navigation styling */
.navigation {
  text-align: center;
  margin-top: 10px;
}

.navigation button {
  background-color: dodgerblue;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 5px;
}

.navigation button:hover {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
}

.navigation button:active {
  transform: translateY(2px);
}

/* Email link styling */
.email-link {
  text-decoration: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .title {
      font-size: 28px;
  }

  .logo {
      height: 50px;
  }

  .navigation button {
      font-size: 14px;
      padding: 8px 16px;
  }
}
